@model CVApp.ViewModels.PersonalInfo.PersonalInfoViewModels.PersonalInfoOutViewModel

<div class="container frame">
    <partial name="~/Views/Resume/_PersonalInfoPartialView.cshtml" model="Model" />
</div>
