@using System.Collections.Generic
@using CVApp.ViewModels.Skill
@model IEnumerable<SkillViewModels.SkillOutViewModel>

<div class="container frame">
    <partial name="~/Views/Resume/_SkillPartialView.cshtml" model="Model" />
</div>