@model CVApp.ViewModels.Start.StartOutViewModel

@{
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <h2>To Do</h2>
            <hr />
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    @if (@Model.IsPersonalInfoFilled)
                    {
                        <a asp-controller="PersonalInfo" asp-action="Display">Personal Info</a>
                        <span class="badge badge-primary badge-pill"><strong>+</strong></span>
                    }
                    else
                    {
                        <a asp-controller="PersonalInfo" asp-action="Index">Personal Info</a>
                        <span class="badge badge-primary badge-pill"><strong>-</strong></span>
                    }

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a asp-controller="EducationalInfo" asp-action="Display">Education Info</a>
                    <span class="badge badge-primary badge-pill">@Model.EducationRecords</span>
                </li>
            </ul>
        </div>
    </div>
</div>

