<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CVApp.Web</title>
    <partial name="_EnvironmentLinksPartialView" />
</head>
<body>
    <header>
        <partial name="_NavbarPartialView" />
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main id="main" class="pb-3">
            @RenderBody()
        </main>
        <a href="#nav" class="toTop"><i class="fa fa-angle-up"></i></a>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - CVApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <partial name="_EnvironmentScriptsPartialView" />
    @RenderSection("Scripts", required: false)
</body>
</html>
