@using Microsoft.AspNetCore.Identity
@using  CVApp.Models
@inject SignInManager<CVAppUser> SignInManager
@inject UserManager<CVAppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
                    My Resume
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="Resume" asp-action="Display">Resume</a>
                    <a class="dropdown-item" asp-controller="PersonalInfo" asp-action="Index">Personal Info</a>
                    <a class="dropdown-item" asp-controller="Education" asp-action="Index">Education</a>
                    <a class="dropdown-item" asp-controller="Work" asp-action="Index">Work</a>
                    <a class="dropdown-item" asp-controller="Skil" asp-action="Index">Skil</a>
                    <a class="dropdown-item" asp-controller="Certificate" asp-action="Index">Sertificate</a>
                    <a class="dropdown-item" asp-controller="Language" asp-action="Index">Language</a>
                </div>
            </li>
        </ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>