@using System.Collections.Generic
@using CVApp.ViewModels.Work
@model IEnumerable<WorkViewModels.WorkOutViewModel>

<div class="container frame">
    <partial name="~/Views/Resume/_WorkPartialView.cshtml" model="Model" />
</div>
