body {
    /*Margin bottom by footer height*/
    margin-bottom: 60px;
    font-size: 1em;
}

p {
    text-align: justify;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

small, .small {
    font-size: 100%;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

dl {
    width: 75%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0
}

dd {
    float: left;
    white-space: normal;
    width: 75%;
    padding: 0px;
    margin: 0;
}

dd.text-bold-italic, label.text-bold-italic {
    font-style: italic;
    font-weight: bold;
}

.frame-hr {
    border-bottom: double;
}

.wrapper {
    width: 75%;
}

.padLeft{
    padding-left:15px;
}


