dl, em{
    font-size: 1.2em;
}

.frame{
    padding: 3em;
    border: solid 1px;
}

.frame_hr{
    border-bottom: double;
}

.badge-font-size{
    font-size: 1em;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.title-link:hover{
    text-decoration: none;
}

.toTop {
    position: fixed;
    bottom: 1.5em;
    float: right;
    right: 1em;
    font-size: 3em;
    color: #967777;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.panel-default {
    width: 65%;
    margin-left: 18%;
    margin-top: 3%;
}

.IconTitle {
    border: 3px solid #e0e0e0;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.yearStyle {
    position: relative;
    left: 50%;
    font-size: 13px;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}

.box {
    border: 1px solid #d0cfcf;
    padding: 16px 0px;
    border-radius: 11px;
    margin-top: 15px;
}

.description {
    padding: 9px 48px;
    font-size: 13px;
    color: #797575;
    font-style: italic;
}

