@using System.Collections.Generic
@using CVApp.ViewModels.Education
@model IEnumerable<EducationViewModels.EducationOutViewModel>

<div class="container frame">
    <partial name="~/Views/Resume/_EducationPartialView.cshtml" model="Model" />
</div>
