@model CVApp.ViewModels.Education.EducationInputViewModel



<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <h2>Education</h2>
            <hr />
            <form method="post" id="educationForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-element">
                    <div class="form-group">
                        <label asp-for="Institution">Institution Name</label>
                        <input asp-for="Institution" class="form-control" placeholder="Name of educational institution">
                        <span asp-validation-for="Institution" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <!--DatePicker from Tempus Dominus-->
                        <div class='col-md-4'>
                            <div class="form-group">
                                <label asp-for="FromYear">Start year</label>
                                <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                    <input asp-for="FromYear" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" placeholder="Year of enrolment" />
                                    <span asp-validation-for="FromYear" class="text-danger"></span>
                                    <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="form-group">
                                <label asp-for="ToYear">End year</label>
                                <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                    <input asp-for="ToYear" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" placeholder="Year of graduation" />
                                    <span asp-validation-for="ToYear" class="text-danger"></span>
                                    <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="GPA">GPA</label>
                            <input asp-for="GPA" class="form-control" placeholder="GPA 5.20">
                            <span asp-validation-for="GPA" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diploma">Diploma Title</label>
                        <input asp-for="Diploma" class="form-control" placeholder="Master of Law">
                        <span asp-validation-for="Diploma" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding: 1px;">
                        <label asp-for="MainSubjects">Main Subjects</label>
                        <textarea asp-for="MainSubjects" class="form-control myTextarea" rows="5" placeholder="Main comvered subjects"></textarea>
                        <span asp-validation-for="MainSubjects" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Country">Country</label>
                        <select asp-for="Country" class="form-control countries order-alpha" id="countryId">
                            <option value="">Select Country</option>
                        </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Region">Region</label>
                        <select asp-for="Region" class="form-control states order-alpha" id="stateId">
                            <option value="">Select State</option>
                        </select>
                            <span asp-validation-for="Region" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="City">City</label>
                        <select asp-for="City" class="form-control cities order-alpha" id="cityId">
                            <option value="">Select City</option>
                        </select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            InitTinymce();

            AddDateTimePicker();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
