@using System.Collections.Generic
@using CVApp.ViewModels.Language
@model IEnumerable<LanguageViewModels.LanguageOutViewModel>

<div class="container frame">
    <partial name="~/Views/Resume/_LanguagePartialView.cshtml" model="Model" />
</div>
