@model CVApp.ViewModels.Resume.ResumeDisplayViewModel

<div class="container frame">
    <form method="post">
        <div class="col-md-12">
            <h1 class="text-center test">Resume</h1>
            <hr />
        </div>
        <!--Personal Info-->
        <partial name="_PersonalInfoPartialView" for="PersonalInfo" />
        <hr class="frame_hr" />
        <!--Education-->
        <partial name="_EducationPartialView" for="Educations" />
        <hr class="frame_hr" />
        <!--Work-->
        <partial name="_WorkPartialView" for="Employments" />
        <hr class="frame_hr" />
        <!--Skills-->
        <partial name="_SkillPartialView" for="Skills" />
        <hr class="frame_hr" />
        <!--Languages-->
        <partial name="_LanguagePartialView" for="Languages" />
        <hr class="frame_hr" />
        <div class="row mt-5">
            <div class="col-md-1">
                <button asp-action="Delete" asp-controller="Resume" data-message="Are you sure you want to delete your resume? The information can't ber reverted!" onclick="TriggerModal(event)" asp-route-id="@Model.Id" class="btn btn-danger">Delete</button>
            </div>
            <div class="col-md-1">
                <a asp-action="GetPdf" asp-controller="Dashboard" class="btn btn-warning" role="button">PDF</a>
            </div>
        </div>
    </form>
</div>

